@if (!loading() && usuario()) {
  <div class="d-flex justify-content-center align-items-center m-1 mt-3">
    <div class="d-flex align-items-center card rounded-5 border p-5" style="flex-direction: row;">
      <img [src]="usuario()!.image" class="rounded-circle img-github-user" width="150" height="150" [alt]="usuario()!.name">
      <div class="p-2 ms-2">
        <h3 class="mb-0">{{usuario()!.name}}</h3>
        <small class="text-muted">@{{ usuario()!.username }}</small>
        <p class="card text-center p-1 mt-1" style="max-width: 150px;">{{ usuario()!.bio }}</p>
        <a href="{{ usuario()?.url }}" class="text-decoration-none">Ir a GitHub</a>
      </div>
    </div>
  </div>
}

@if (loading()) {
  <div class="d-flex justify-content-center align-items-center m-5 placeholder-glow">
    <div class="d-flex align-items-center card rounded-5 border p-5" style="flex-direction: row;">
      <img src="https://whitescreen.dev/Uploads/images/Logo/black-screen-background.png" class="rounded-circle img-github-user placeholder" width="150" height="150" alt="img">
      <div class="d-flex flex-column p-2 ms-2">
        <h3 class="mb-1 placeholder me-4"></h3>
        <small class="placeholder me-5"></small>
        <p class="card text-center p-1 mt-1 placeholder" style="min-width: 150px;"></p>
        <a href="https://github.com/" class="text-decoration-none">Ir a GitHub</a>
      </div>
    </div>
  </div>
}

@if (error()) {
  <div class="d-flex justify-content-center align-items-center m-5 placeholder-glow">
    <div class="d-flex align-items-center card rounded-5 border p-5" style="flex-direction: row;">
      <div class="d-flex flex-column p-2 ms-2">
        <p class="mb-1 text-danger">{{ error() }}</p>
      </div>
    </div>
  </div>
}