<div class="d-flex justify-content-center align-items-center bodyPage mt-4 me-5 ms-5">
    <a class="d-flex align-items-center text-decoration-none" href="/">
        <img src="logo.png" alt="Logo" class="rounded-circle" width="100px" height="100px" style="object-fit: cover;">
        <div class="ms-3">
            <h1 class="m-0 text-white">Game<span class="text-primary">Hall</span></h1>
            <h5 class="m-0 text-white">Sala de <span class="text-primary">Juegos Online</span></h5>
        </div>
    </a>
</div>